@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");
body {
  font-family: 'Raleway', sans-serif;
  counter-reset: my-sec-counter;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mainContainer {
  background: -webkit-gradient(linear, left top, right top, from(#df3afc), color-stop(67%, #ff8ba0));
  background: linear-gradient(to right, #df3afc 0%, #ff8ba0 67%);
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  border-radius: 0.01rem !important;
}

.container {
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, color-stop(56%, #dc39ff), to(#5a4e9c)) #dc39ff;
  background: linear-gradient(to right, #dc39ff 56%, #5a4e9c 100%) #dc39ff;
  margin: 0;
  border-top-left-radius: 0.01rem !important;
  border-top-right-radius: 0.01rem !important;
  border-bottom: 1px solid red;
}

.container h2 {
  padding: 15px;
  letter-spacing: 1px;
  color: #fff;
}

.container input {
  width: 100vw;
  max-width: 65%;
  border-radius: 0.5rem;
  padding: 11px 10px;
  border: 0;
  outline: none;
  margin: 10px 2px;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1.1px;
  border: 1px solid #696f75;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.container input::-webkit-input-placeholder {
  opacity: 0.7;
}

.container input:-ms-input-placeholder {
  opacity: 0.7;
}

.container input::-ms-input-placeholder {
  opacity: 0.7;
}

.container input::placeholder {
  opacity: 0.7;
}

.container input:focus {
  border-color: #fd899c;
  outline: none;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 154, 2, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(255, 154, 2, 0.25);
}

.container button {
  padding: 11px 19px;
  outline: none;
  border-radius: 0.25rem;
  border: 0;
  cursor: pointer;
  font-size: 18px;
  background-color: #6b3377 20%;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  background-color: #ffffff;
  padding: 12px 8px 12px 35px;
  font-size: 17px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
  cursor: pointer;
  text-transform: capitalize;
  border-bottom: 2px solid #dc39ff;
  color: #000;
  letter-spacing: 1px;
}

ul li::before {
  counter-increment: my-sec-counter 1;
  content: " " counter(my-sec-counter) "  ➾ ";
}

.checked {
  color: green;
  background-color: #f1f1ef;
  border-bottom-color: #ff8ba0;
}

.checked::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 15px;
  border: 0 solid green;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-width: 0 2px 2px 0;
  top: 12px;
  left: 12px;
  text-decoration: line-through !important;
}

.checked::after {
  content: "(remove)";
  color: tomato;
  padding: 0 10px;
  text-decoration: none !important;
}

.page-container {
  min-height: 100vh;
  position: relative;
}

footer {
  background: #6b3377 56%;
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer p {
  padding-right: 15px;
  letter-spacing: 1px;
  font-size: 12px;
}

#content-wrap {
  padding-bottom: 2.7rem;
}
/*# sourceMappingURL=index.css.map */