@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap');

body {
	font-family: 'Raleway', sans-serif;
	// background: linear-gradient(to right, tomato);
	counter-reset: my-sec-counter;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.mainContainer {
	background: linear-gradient(to right, rgba(223, 58, 252, 1) 0%, rgba(255, 139, 160, 1) 67%);
	width: 100vw;
	max-width: 100%;
	// position: relative;
	// margin: 0 auto;
	// margin: 40px auto;
	min-height: 100vh;
	// min-height: calc(100vh - 40px);
	border-radius: 0.01rem !important;
}

.container {
	text-align: center;
	background: linear-gradient(to right, rgba(220, 57, 255, 1) 56%, rgba(90, 78, 156, 1) 100%)rgb(220, 57, 255);
	margin: 0;
	// max-width: 350px;
	border-top-left-radius: 0.01rem !important;
	border-top-right-radius: 0.01rem !important;

	border-bottom: 1px solid red;
}

.container h2 {
	padding: 15px;
	letter-spacing: 1px;
	color: #fff;
}

.container input {
	width: 100vw;
	max-width: 65%;
	border-radius: 0.5rem;
	padding: 11px 10px;
	border: 0;
	outline: none;
	margin: 10px 2px;
	font-weight: 400;
	font-size: 18px;
	letter-spacing: 1.1px;
	border: 1px solid #696f75;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.container input::placeholder {
	opacity: 0.7;
}

.container input:focus {
	border-color: rgb(253, 137, 156);
	outline: none;
	box-shadow: 0 0 0 0.2rem rgba(255, 154, 2, 0.25);
}

.container button {
	padding: 11px 19px;
	outline: none;
	border-radius: 0.25rem;
	border: 0;
	cursor: pointer;
	font-size: 18px;
	background-color: rgb(107, 51, 119) 20%;
	text-transform: uppercase;
	letter-spacing: 0.7px;
}

ul {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
	background-color: #ffffff;
	padding: 12px 8px 12px 35px;
	font-size: 17px;
	transition: 0.2s;
	position: relative;
	cursor: pointer;
	text-transform: capitalize;
	border-bottom: 2px solid rgba(220, 57, 255, 1);
	color: #000;
	letter-spacing: 1px;
	// margin-top: 2px;

	&:hover {
		// background-color: rgb(253, 222, 233);
	}
}

ul li::before {
	counter-increment: my-sec-counter 1;
	content: " " counter(my-sec-counter) "  ➾ ";
}

.checked {
	color: green;
	background-color: rgb(241, 241, 239);
	border-bottom-color: rgba(255, 139, 160, 1);
	&::before {
		content: "";
		position: absolute;
		width: 7px;
		height: 15px;
		border: 0 solid green;
		transform: rotate(45deg);
		border-width: 0 2px 2px 0;
		top: 12px;
		left: 12px;
		text-decoration: line-through !important;
	}
	&::after {
		content: "(remove)";
		color: tomato;
		padding: 0 10px;
		text-decoration: none !important;
	}
}

.page-container {
	min-height: 100vh;
	position: relative;
}

footer {
	background: rgb(107, 51, 119) 56%;
	color: #fff;
	// margin-top: 30px;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

footer p {
	padding-right: 15px;
	letter-spacing: 1px;
	font-size: 12px;
}
#content-wrap {
	padding-bottom: 2.7rem;
}
